/*详情页页单独的header样式*/
.header2{
    background:#fff;
    z-index: 100;
    position: relative;
    width:100%;
}
.header2 #logo img{
    width:90%;
    /*min-width:180px;*/
    max-width:196px;
    margin:0 8px;
    vertical-align: -28px;
}
@media screen and (max-width:359px){
    .header2 #logo img{
        vertical-align: -18px;
    }
}
/*@media screen and (max-width:375px) and (min-width:361px){*/
/*#logo img{*/
/*vertical-align: -11px;*/
/*}*/
/*}*/
@media screen and (max-width:413px) and (min-width:359px) {
    .header2 #logo img{
        vertical-align: -22px;
    }
}
@media screen and (max-width:490px) and (min-width:430px) {
    .header2 #logo img{
        vertical-align: -25px;
    }
}