.ps_top{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 1px 10px rgba(50,50,50,0.1);
}
.ps_return img{
    float: left;
    margin-top: 20px;
    margin-left: 15px;

}
.ps_top p{
    clear: left;
    display: inline-block;
    margin-top: 25px;

    font-size: 16px;
    color: #109d59;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: "Microsoft YaHei", Arial, Helvetica, light sans-serif;
}
.ps_save{
    font-size: 16px;
    float: right;
    margin-right: 15px;
    display: inline-block;
}
.ps_save p{
    display: inline-block;
    color: #109d59;
}
.ps_head{
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center  ;
}
.ps_heada img{
    vertical-align: middle;
    margin-top: 50px;
    width: 100px;
}
.ps_down{
    width: 100%;
    background-color: white;
}
.ps_usename{
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #e0e0e0;
}
.ps_usename p{
     float: left;
     line-height: 60px;
     font-size: 18px;
     margin-left: 15px;
 }
.ps_usename input{
    line-height: 40px;
    border: none;
    font-size: 18px;
    width:60%;
    margin-top: 8px;
    margin-left:30px;
}

.ps_realname{
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #e0e0e0;
}
.ps_realname p{
    float: left;
    line-height: 60px;
    font-size: 18px;
    margin-left: 10px;
}
.ps_realname input{
    line-height: 40px;
    border: none;
    font-size: 18px;
    width:60%;
    margin-top: 8px;
    margin-left: 20px;
}

.ps_sex{
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #e0e0e0;
}
.ps_sex p{
    float: left;
    line-height: 60px;
    font-size: 18px;
    margin-left: 15px;
}
.ps_sex span{
    line-height: 40px;
    border: none;
    font-size: 18px;
    margin-top: 11px;
    margin-left: 50px;
    display: inline-block;
}
.ps_sex img{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}
.ps_down p{
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #999999;
}

.ps_bir{
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #e0e0e0;
}
.ps_bir p{
    float: left;
    line-height: 60px;
    font-size: 18px;
    margin-left: 15px;
}
.ps_bir span{
    line-height: 40px;
    border: none;
    font-size: 18px;
    margin-top: 11px;
    margin-left: 50px;
    display: inline-block;
}
.ps_bir img{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}
.ps_home{
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #e0e0e0;
}
.ps_home p{
    float: left;
    line-height: 60px;
    font-size: 18px;
    margin-left: 15px;
}
.ps_home span{
    line-height: 40px;
    border: none;
    font-size: 18px;
    margin-top: 11px;
    margin-left: 32px;
    display: inline-block;
}
.ps_home img{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.ps_email{
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #e0e0e0;
}
.ps_email p{
    float: left;
    line-height: 60px;
    font-size: 18px;
    margin-left: 15px;
}
.ps_email input{
    line-height: 40px;
    border: none;
    font-size: 18px;
    width:60%;
    margin-top: 8px;
    margin-left:40px;
}
.ps_page{
    width: 100%;
    height: 60px;
}
.ps_page p{
    float: left;
    line-height: 60px;
    font-size: 18px;
    margin-left: 15px;
}
.ps_page input{
    line-height: 40px;
    border: none;
    font-size: 18px;
    width:60%;
    margin-top: 8px;
    margin-left:13px;
}

.ps_note{
    margin-top: 40px;
    width: 100%;
   height: 90px;
    background-color:white;
}
.ps_note p{
    float: left;
    line-height: 60px;
    font-size: 18px;
    margin-left: 15px;
}
.ps_note input{
    line-height: 40px;
    border: none;
    font-size: 18px;
    width:60%;
    margin-top: 8px;
    margin-left:13px;
}
.ps_ps{
    margin-top: 40px;
    width: 100%;
    height: 90px;
    background-color:white;
    text-align: center;
}
.ps_ps p{
    line-height: 90px;
    font-size: 14px;
}

.ps_selectSex{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;;
    z-index: 1000;
    text-align: center;
}

.ps_seleSex{
    display: none;
}
.ps_mb{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: block;
}
.ps_mba{
    display: none;
}

.p_select {
    position: relative;
    float: right;
    margin-right: 260px;
}

.p_select dt {
    height: 40px;
    display: inline-block;
    border: 1px solid #d2ccc4;
    background: #f2f2f2 url(../images/sanjiao_03.png) no-repeat 72px center;
    line-height: 28px;
    padding-left: 10px;
    cursor: pointer;
    width: 62px;
    padding-right: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    z-index: 99;
    border-radius: 4px;
    font-size: 12px;
}

.p_select dt:hover, .p_select dt.cur {
    border: 1px solid #409DFE;
    box-shadow: 0 0 3px #409DFE;
}

.p_select dd {
    position: absolute;
    left: 0;
    top: 29px;
    border: 1px solid #d2ccc4;
    background: #fff;
    display: none;
}

.p_select dd ul {
    padding: 4px;
    width: 76px;
    max-height: 250px;
    overflow: auto;
}

.p_select dd ul li a {
    line-height: 28px;
    display: block;
    padding: 0 8px;
    font-size: 12px;
}

.p_select dd ul li a:hover {
    background: #f5f5f5;
}
