<div class="header clearFix">
    <div id="nav-menu" class="fl"><div class="menu-btn" ng-click="flag=!flag"><i></i> <i></i><i></i></div></div>
    <div id="logo" class="fl"><img src="image/cardimg/header-logo_03.png" alt="" /></div>
    <div id="other-link" class="fl">
        <div data-logo ng-class=""> </div>
    </div>
</div>
<navs></navs>
<div class="swiper-container" id="swiper-container1">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="swper1img" src="image/indeximg/banner2.jpg"/>
        </div>
        <div class="swiper-slide">
            <img class="swper1img" src="image/indeximg/banner1.jpg"/>
        </div>
        <div class="swiper-slide">
            <img class="swper1img" src="image/indeximg/banner3.jpg"/>
        </div>
        <div class="swiper-slide">
            <img class="swper1img" src="image/indeximg/banner2.jpg"/>
        </div>
    </div>
    <div class="swiper-pagination" id="swiper-pagination1"></div>
</div>
<!-- 自动轮播图 end-->


<!-- 中部产品展示 start-->
<div class="main">
    <!-- 乐章板块  start -->
    <div class="product p-yz">
        <div class="up clearFix">
            <a href="#" class="artical-title fl">岁月不老，一世倾城</a>
            <span class="model label-yz fr">乐章</span>
        </div>
        <div class="middle  clearFix">
            <div class="artical-summary-cont fl hasPic">
                <p class="artical-cont">时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气
                    时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气
                    时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气
                    时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气
                    时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气...
                </p>
            </div>
            <div class="artical-summary-pic fr">
                <a href="#"><img class="artical-pic" src="image/indeximg/yuezhangPic_05.png" alt=""/></a>
            </div>
        </div>
        <div class="down clearFix">
            <div class="author-div fl"><a href="#" class="author"><span>小夏同学</span></a></div>
            <div class="time fl"> <i class="time-icon"></i><i class="p-yz-date">5/23</i><i class="p-yz-hour_minute1">16:15</i></div>
            <div class="zan fr">
                <i class="zan-num">22</i>
                <i class="zan-icon"></i>
                <i class="pl-num">22</i>
                <i class="pl-icon"></i>
            </div>
        </div>
    </div>
    <!---------------------乐章板块  end -------------------->

    <!---------------------聊聊板块  start -------------------->
    <div class="product p-yz">
        <div class="up clearFix">
            <a href="#" class="artical-title fl">岁月不老，一世倾城</a>
            <span class="model label-yz fr">聊聊</span>
        </div>
        <div class="middle clearFix">
            <div class="artical-summary-cont fl">
                <p class="artical-cont">时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气...
                    时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气...
                    时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气...
                    时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气...
                    时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气...
                </p>
            </div>
            <!--<div class="artical-summary-pic fr">-->
                <!--<a href="#"><img class="artical-pic" src="image/indeximg/yuezhangPic_05.png" alt=""/></a>-->
            <!--</div>-->
        </div>
        <div class="down clearFix">
            <div class="author-div fl"><a href="#" class="author"><span>小夏同学</span></a></div>
            <div class="time fl"> <i class="time-icon"></i><i class="p-yz-date">5/23</i><i class="p-yz-hour_minute1">16:15</i></div>
            <div class="zan fr">
                <i class="zan-num">22</i>
                <i class="zan-icon"></i>
                <i class="pl-num">22</i>
                <i class="pl-icon"></i>
            </div>
        </div>
    </div>
    <!---聊聊板块  end -->

    <!---乐章板块  start -->
    <div class="product p-yz">
        <div class="up clearFix">
            <a href="#" class="artical-title fl">岁月不老，一世倾城</a>
            <span class="model label-yz fr">乐章</span>
        </div>
        <div class="middle clearFix">
            <div class="artical-summary-cont fl hasPic">
                <p class="artical-cont">时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气...
                    时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气...
                    时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气...
                    时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气...
                    时光的流逝，如缓缓流过的小溪，再怎样努力也无法逆转它的方向；这个午后，我站在开满丁香花的树下目送你走远，紫色的小花散发着幽幽的暗香，我忍不住深吸一口气...
                </p>
            </div>
            <div class="artical-summary-pic fr">
                <a href="#"><img class="artical-pic" src="image/indeximg/yuezhangPic_05.png" alt=""/></a>
            </div>
        </div>
        <div class="down clearFix">
            <div class="author-div fl"><a href="#" class="author"><span>小夏同学</span></a></div>
            <div class="time fl"> <i class="time-icon"></i><i class="p-yz-date">5/23</i><i class="p-yz-hour_minute1">16:15</i></div>
            <div class="zan fr">
                <i class="zan-num">22</i>
                <i class="zan-icon"></i>
                <i class="pl-num">22</i>
                <i class="pl-icon"></i>
            </div>
        </div>
    </div>
</div>