<div class="header2 clearFix">
    <div id="nav-menu" class="fl"><div class="menu-btn" ng-click="flag=!flag"><i></i> <i></i><i></i></div></div>
    <div id="logo" class="fl"><img src="image/indeximg/commonImg/mobile_03.png" alt="" /></div>
    <div id="other-link" class="fl">
        <a href="#" class="Favorites"><img src="image/indeximg/commonImg/mobile_06.png" alt=""/> </a>
    </div>
</div>
<navs></navs>

<div class="details-container">
    <div class="song-introduce clearFix">
        <div class="song-details fl">
            <div class="song-pic"><img ng-src={{pageData.song_module.song_pic}} alt=""/></div>
        </div>
        <div class="song-info fr">
            <div class="song-title"><a href="#" id="song_title">{{pageData.song_module.song_title}}</a></div>
            <div class="play-num mt"><span id="play_num">{{pageData.song_module.play_num}}</span>播放</div>
            <div class="publisher mt">发布者:<span id="publisher">伍小宸</span></div>
            <div class="song-control mt">
                <!--开始设置播放器-->
                <div class="playutil">
                    <audio id="aud" ng-src={{pageData.song_module.song_source}}>
                    </audio>
                    <!--播放按钮-->
                    <div class="control clearFix">
                        <div class="buttons">
                            <a id="playbtn" onMo useOver="overchangplay()" onMouse Out="outchangplay()">
                                <img id="playbutton" src="image/indeximg/commonImg/mobile_14.png"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="song-intro-cont">{{pageData.song_module.song_intro_cont}}</div>
    <div class="common-deatails">
        <div class="artical-cont">
            <div class="yj-artical">
                <h3>{{pageData.artical.artical_title}}</h3>
                <div class="yj-artical-info clearFix">
                    <div class="eye-wechat">
                        <span id="eye_num" class="eye-wechat-num">{{pageData.artical.wei_chat_num}}</span>
                        <span id="wei_chat_num" class="eye-wechat-num">{{pageData.artical.eye_num}}</span>
                    </div>
                    <div class="create-time">
                        创建时间 : <span class="currentDate">{{pageData.artical.artical_create_time}}</span>
                    </div>
                </div>
            </div>
            <div class="artical-cont-details">
                <div class="blog-details" id="blog_details">
                    <div class="user-pre-cont">
                        <!-- 这里面是后台取过来的文章数据-->
                      {{articalCont}}
                    </div>
                    <div class="blog-labels clearFix">
                        <!--这里面是来自后台的标签-->
                        <div class="fl" ng-repeat="m in pageData.labels">
                            <span>{{m}}</span>
                        </div>
                    </div>
                    <div class="endIcon">
                        <img src="image/indeximg/commonImg/mobile_32.png" alt="endIcon" />
                    </div>
                </div>


                <!--王利兴,你来-->


            </div>
        </div>
    </div>
</div>

