<div class="header2 clearFix">
    <div id="nav-menu" class="fl"><div class="menu-btn" ng-click="flag=!flag"><i></i> <i></i><i></i></div></div>
    <div id="logo" class="fl"><img src="image/indeximg/commonImg/mobile_03.png" alt="" /></div>
    <div id="other-link" class="fl">
    </div>
</div>
<navs></navs>
<!-- 内容区start -->
<div class="lamDetails-container">
            <div class="common-deatails clearFix">
    <div class="artical-module artical-cont">
        <div class="yj-artical">
            <h3>没钱也旅游 之 旅游资讯</h3>
            <div class="yj-artical-info">
                <!--<div class="eye-wechat">-->
                <!--<span id="eye_num" class="eye-wechat-num">56</span>-->
                <!--<span id="wei_chat-num" class="eye-wechat-num">22</span>-->
                <!--</div>-->
                <div class="create-time">
                    创建者:<span class="createAuthor">蓝莓派</span> &nbsp;&nbsp;创建时间 : <span class="currentDate">2016/03/26</span>
                </div>
            </div>
        </div>
        <div class="artical-cont-details">
            <div class="blog-details" id="blog_details">
                <p>
                    <img class="blog-pic" src="image/indeximg/commonImg/blueberryjam_03.png" alt="j"/>
                </p>
                <div class="blog-labels">
                    <span id="label_travel">旅游</span> <span id="label_msg">资讯</span>  <span class="label_nomoney_travel">穷游</span>
                </div>
                <div class="group-intro">
                    <h4 class="group-summary">小组简介</h4>
                    <div class="group-summary-cont">
                        清贫和孤独让人敏锐，带上它们出发吧。<br/>
                        2015已经快过去了，回首这一年，你有没有最想对自己说的话呢？<br/>
                        ——你可以——<br/>
                        （1）回顾一下这一年里的“最“时刻（最开心，最逗比，最遗憾，最幸福……）<br/>
                        （2）或者写一些想对自己说的话，什么都可以。<br/>
                        <br/>
                        ——话题奖励——<br/>
                        （1）奖励：和社区有奖征稿帖奖励相同，包含手工皂、巧克力、物喜等待着优质实物奖品。<br/>
                        （2）如果你觉得一个状态没有办法写完自己的感受，可以去社区参与有奖征稿。（搜索“有<br/>
                        奖征稿”相关帖子，找到「辞旧迎新咯，敢不敢写下你的2015！」即可看到活动规则以及活动奖励详情）<br/>
                    </div>
                    <span class="report">举报</span>
                </div>
            </div>
        </div>
    </div>
    <div class="artical-module joinin-group">
        <h4 class="join-group-title">加入小组</h4>
        <form id="joinin_group_form" action="">
            <input id="input_blog_title" type="text" placeholder="标题（必填）"  />
            <div id="blog-editer">
                <div class="upload-music">
                    <textarea class="group-introduce-input" placeholder="在这里发布你想说的话" id="txtEditor"  ></textarea>
                    <!--&lt;!&ndash;<span class="upload-music-title">上传音乐</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="upload-music-tips">*上传文件格式仅限: mp3／m4a</span>&ndash;&gt;-->
                    <!--<i id="musicBtn">音乐</i>-->
                    <!--<i id="picBtn">图片</i>-->
                    <!--<em id="fileTypeTips">请上传正确的格式</em>-->
                    <!--&lt;!&ndash;<span class="music-name"></span>&ndash;&gt;-->
                    <!--<input class="input-of-btn" accept="audio/*" id="uploadMusic" type="file" value="上传音乐" />-->
                    <!--<input class="input-of-btn" accept="image/*" id="uploadPic" type="file" value="上传图片" />-->
                    <!-- 上传专辑封面-->
                    <a href="javascript:;" class="file cover-page" id="file">
                        <img class="preview" id="preview" src="" width="99" height="99" alt=""/>
                        <span class="file-word">上传音乐</span>
                        <input id="onloadPic" class="onloadPic" type="file" multiple="multiple" accept="audio/*" />
                    </a>
                    <!-- 上传视频-->
                    <a href="javascript:;" class="file onload-video">
                        <img class="preview" src="" width="99" height="99" alt=""/>
                        <span class="file-word">上传图片</span>
                        <input class="onloadPic" type="file" multiple="multiple" accept="image/*" />
                    </a>
                </div>
            </div>
            <div class="labelBox clearFixBlog">
                <div class="i_inp"  id="paren"  style="  min-height:30px; cursor:pointer; height:auto;     ">
                        <span    class="ui-sortable disp"  >
                            <div id="dc" class="sort"  style="background:#CCC;   white-space:nowrap; float:left; display:block; width:0px; overflow:hidden;      height:22px; font-size:12px;  color:red;">
                                <div  id="dart"  style="  cursor:move; height:22px; display:block; float:left;   line-height:22px; "></div>
                            </div>
                        </span>
                    <input class="ipva"   name=""    type="text"   placeholder="多个标签用空格分隔，最多三个"/>
                </div>
            </div>
            <div class="submitBtn">
                <input type="button" id="publicBlog" value="立即参与"/>
            </div>
        </form>
    </div>
    <div class="artical-module topics">

            <div class="topics-in ">
                <div class="topics-in-title clearFix">
                    <div class="topics-in-title-l fl"><span class="topics-num">222</span>个话题</div>
                    <div class="topics-in-title-r fr">
                        <span>按评论排序</span>
                    </div>
                </div>
                <div class="topic-cont">
                    <div class="topic-cont-in">
                        <div class="author-time">
                            <div class="topic-author clearFix">
                                <img class="fl" src="image/indeximg/commonImg/dog.jpg" alt=""/>
                                <span class="fl">小夏同学</span>
                                <div class="time fr"> <i class="time-icon"></i><i>5/23</i><i>16:15</i></div>
                            </div>
                        </div>
                        <div class="topic-cont-title">为了一杯茶，他们在杭州盖了座大房子</div>
                        <div class="topic-cont-info clearFix">
                            <div class="topic-summary-cont fl hasPic">
                                <p class="topic-cont-words">内地流行乐双人组合「牛奶咖啡」，不久前为新专辑MV的拍摄，专程来到了龙井一所大房子取景，在这里跟大家分享这座大房子背后一对年轻...
                                    内地流行乐双人组合「牛奶咖啡」，不久前为新专辑MV的拍摄，专程来到了龙井一所大房子取景，在这里跟大家分享这座大房子背后一对年轻..
                                </p>
                            </div>
                            <div class="topic-summary-pic fr">
                                <a href="#"><img class="artical-pic" src="image/indeximg/commonImg/topic-pic_03.png" alt=""/></a>
                            </div>
                        </div>
                        <div class="topic-cont-label-nums clearFix">
                            <div class="topic-cont-label fl">
                                <span class="topic-cont-label-span">旅游</span> <span class="topic-cont-label-span">资讯</span> <span class="topic-cont-label-span">穷游</span>
                            </div>
                            <div class="topic-cont-nums fr">
                                <div class="zan">
                                    <i class="zan-num">22</i>
                                    <i class="zan-icon"></i>
                                    <i class="pl-num">22</i>
                                    <i class="pl-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic-cont-in">
                        <div class="author-time">
                            <div class="topic-author clearFix">
                                <img class="fl" src="image/indeximg/commonImg/dog.jpg" alt=""/>
                                <span class="fl">小夏同学</span>
                                <div class="time fr"> <i class="time-icon"></i><i>5/23</i><i>16:15</i></div>
                            </div>
                        </div>
                        <div class="topic-cont-title">为了一杯茶，他们在杭州盖了座大房子</div>
                        <div class="topic-cont-info clearFix">
                            <div class="topic-summary-cont fl hasPic">
                                <p class="topic-cont-words">内地流行乐双人组合「牛奶咖啡」，不久前为新专辑MV的拍摄，专程来到了龙井一所大房子取景，在这里跟大家分享这座大房子背后一对年轻...
                                    内地流行乐双人组合「牛奶咖啡」，不久前为新专辑MV的拍摄，专程来到了龙井一所大房子取景，在这里跟大家分享这座大房子背后一对年轻..
                                </p>
                            </div>
                            <div class="topic-summary-pic fr">
                                <a href="#"><img class="artical-pic" src="image/indeximg/commonImg/topic-pic_03.png" alt=""/></a>
                            </div>
                        </div>
                        <div class="topic-cont-label-nums clearFix">
                            <div class="topic-cont-label fl">
                                <span class="topic-cont-label-span">旅游</span> <span class="topic-cont-label-span">资讯</span> <span class="topic-cont-label-span">穷游</span>
                            </div>
                            <div class="topic-cont-nums fr">
                                <div class="zan">
                                    <i class="zan-num">22</i>
                                    <i class="zan-icon"></i>
                                    <i class="pl-num">22</i>
                                    <i class="pl-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topic-cont-in">
                        <div class="author-time">
                            <div class="topic-author clearFix">
                                <img class="fl" src="image/indeximg/commonImg/dog.jpg" alt=""/>
                                <span class="fl">小夏同学</span>
                                <div class="time fr"> <i class="time-icon"></i><i>5/23</i><i>16:15</i></div>
                            </div>
                        </div>
                        <div class="topic-cont-title">为了一杯茶，他们在杭州盖了座大房子</div>
                        <div class="topic-cont-info clearFix">
                            <div class="topic-summary-cont fl hasPic">
                                <p class="topic-cont-words">内地流行乐双人组合「牛奶咖啡」，不久前为新专辑MV的拍摄，专程来到了龙井一所大房子取景，在这里跟大家分享这座大房子背后一对年轻...
                                    内地流行乐双人组合「牛奶咖啡」，不久前为新专辑MV的拍摄，专程来到了龙井一所大房子取景，在这里跟大家分享这座大房子背后一对年轻..
                                </p>
                            </div>
                            <div class="topic-summary-pic fr">
                                <a href="#"><img class="artical-pic" src="image/indeximg/commonImg/topic-pic_03.png" alt=""/></a>
                            </div>
                        </div>
                        <div class="topic-cont-label-nums clearFix">
                            <div class="topic-cont-label fl">
                                <span class="topic-cont-label-span">旅游</span> <span class="topic-cont-label-span">资讯</span> <span class="topic-cont-label-span">穷游</span>
                            </div>
                            <div class="topic-cont-nums fr">
                                <div class="zan">
                                    <i class="zan-num">22</i>
                                    <i class="zan-icon"></i>
                                    <i class="pl-num">22</i>
                                    <i class="pl-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 底部的分页导航按钮 未完成js的逻辑-->
            <div class="song-page" onselectstart="return false;">
                <span class="gs-page-first">&lt;&lt;</span>
                <span class="gs-pageadv">&lt;</span>
                <span class="gs-pages on">1</span>
                <span class="gs-pages">2</span>
                <span class="gs-pages">3</span>
                <span class="gs-pages">4</span>
                <span class="gs-pagenext">&gt;</span>
                <span class="gs-page-end">&gt;&gt;</span>
            </div>
    </div>
</div>
    <div class="artical-other">
        <div class="hot-recomment aside-box">
            <h3 class="other-blog-title ">热门话题</h3>
            <ul>
                <li><a class="other-blog-lists" href="#">端午徒步武功山，看山看草看云海。</a></li>
                <li><a class="other-blog-lists" href="#">倫敦暴走十四日</a></li>
                <li><a class="other-blog-lists" href="#">游木課堂|早讀課：環球金融中心木..</a></li>
                <li><a class="other-blog-lists" href="#">你适可而止 抽身而退的样子特别特别的帅,简直帅到没朋友!</a></li>
                <li><a class="other-blog-lists" href="#">游木課堂|早讀課：環球金融中心木..</a></li>
                <li><a class="other-blog-lists" href="#">你适可而止 抽身而退的样子特别特别的帅,简直帅到没朋友!</a></li>
                <li><a class="other-blog-lists" href="#">你适可而止 抽身而退的样子特别特别的帅,简直帅到没朋友!</a></li>
                <li><a class="other-blog-lists" href="#">倫敦暴走十四日</a></li>
                <li><a class="other-blog-lists" href="#">端午徒步武功山，看山看草看云海。</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- 内容区end -->
