<div class="l_contain">
    <img class="l_common" src="image/images/login_1.png">
    <img class="l_title" src="image/images/login_3.png">

    <div class="l_text">
        <div class="l_usename">
            <input type="text" placeholder="请输入用户名">
        </div>
        <div class="l_password">
            <input type="text" placeholder="请输入密码">
        </div>
        <div class="l_code">
            <input type="text" name="" id="" placeholder="验证码"/>
            <img class="l_auth" src="image/images/l_login_04.png">
        </div>
        <div class="l_login">
            <p>登录</p>
        </div>
        <div class="l_p">
            <a class="l_p1">忘记密码？</a>
            <a class="l_p2">注册新账号</a>
            <a class="l_p3">您还可以用第三方账号登陆</a>
            <p>蓝莓派版权所有   京ICP备12346335号 </p>
        </div>
        <div class="l_skip">
            <a href="">
                <img  class="l_qq" src="image/images/l_login_5.png">
            </a>
            <a href="">
                <img  class="l_wx"src="image/images/l_login_6.png">
            </a>
            <a href="">
                <img  class="l_wb"src="image/images/l_login_7.png">
            </a>

        </div>
    </div>
</div>