<div>
    <div class="index-mengban" ng-show="flag" ng-click="flag = false"></div>
    <div class="nav slide-down" ng-if="flag">
        <ul class="clearFix">
            <li>
                <a class="p-title nav-yz" href="#movement" ng-click="flag = !flag">
                    <span class="p-title-c">乐章 <i class="icon"></i></span>
                    <span class="p-title-e">MOVEMENT</span>
                </a>
            </li>
            <li>
                <a class="p-title nav-ts" href="#tingshuo" ng-click="flag = !flag">
                    <span class="p-title-c">听说<i class="icon"></i></span>
                    <span class="p-title-e">LISTENING</span>
                </a>
            </li>
            <li>
                <a class="p-title nav-yq" href="#interesting" ng-click="flag = !flag">
                    <span class="p-title-c">乐趣<i class="icon"></i></span>
                    <span class="p-title-e">INTERESTING</span>
                </a>
            </li>
            <li>
                <a class="p-title nav-ll" href="#liaoliao" ng-click="flag = !flag">
                    <span class="p-title-c">聊聊<i class="icon"></i></span>
                    <span class="p-title-e">CHATING</span>
                </a>
            </li>
            <li>
                <a class="p-title nav-yj" href="#travelNote" ng-click="flag = !flag">
                    <span class="p-title-c">游记<i class="icon"></i></span>
                    <span class="p-title-e">TRAVELNOTE</span>
                </a>
            </li>
            <li>
                <a class="p-title nav-sy" href="#" ng-click="flag = !flag">
                    <span class="p-title-c">摄影<i class="icon"></i></span>
                    <span class="p-title-e">PHOTOGRAPHY</span>
                </a>
            </li>
            <li>
                <a class="p-title nav-cp" href="#person" ng-click="flag = !flag">
                    <span class="p-title-c">诚品<i class="icon"></i></span>
                    <span class="p-title-e">CHENGPIN</span>
                </a>
            </li>
            <li>
                <a class="p-title nav-lmj" href="#lanmeijiang" ng-click="flag = !flag">
                    <span class="p-title-c">蓝莓酱<i class="icon"></i></span>
                    <span class="p-title-e">BLUEBERRYJAM</span>
                </a>
            </li>
            <li>
                <a class="p-title nav-sq" href="#sheqv" ng-click="flag = !flag">
                    <span class="p-title-c">社区<i class="icon"></i></span>
                    <span class="p-title-e">COMMUNITY</span>
                </a>
            </li>
        </ul>
        <div class="login-btns">
            <div class="login-btns-in clearFix">

                <a href="#register"><button class="reg fl">注册</button></a>
                <a href="#login"><button class="login fr">登录</button></a>
            </div>
        </div>
    </div>
</div>
