<div class="header clearFix">
    <div id="nav-menu" class="fl"><div class="menu-btn" ng-click="flag=!flag"><i></i> <i></i><i></i></div></div>
    <div id="logo" class="fl"><img src="image/cardimg/header-logo_03.png" alt="" /></div>
    <div id="other-link" class="fl">
        <div data-logo ng-class="">
            <div class="p_set">
                <img ng-src="image/images/perCen_03.png" alt=""/>
            </div>
        </div>
    </div>
</div>
<navs></navs>

<!--头像部分-->
    <div class="p_pset">
        <div class="p_head" >
        </div>
        <div class="p_left">
            <div class="p_name">
                <p>蓝莓派</p>
            </div>
        <span class="p_sex">
        </span>

            <p class="p_sign">他的签名还在环游世界</p>
        </div>
        <a class="p_person" href="#personSet">
            <p>编辑个人资料
            </p>
        </a>
    </div>
    <!--帖子部分-->
    <div class="p_count">
        <div class="p_bbs">
        <span>
            <p>帖子</p>
            <p>22</p>
        </span>
        </div>
        <div class="p_att">
         <span>
            <p>关注</p>
            <p>22</p>
        </span>
        </div>
        <div class="p_bat">
         <span>
            <p>被关注</p>
            <p>22</p>
        </span>
        </div>
    </div>
    <!--消息中心-->
    <div class="p_pdown">
        <div class="p_message">
            <span></span>

            <p>我的帖子</p>
            <i></i>
        </div>
        <div class="p_collect">
            <span></span>

            <p>我的收藏</p>
            <i></i>
        </div>
        <div class="p_review">
            <span></span>

            <p>我的评论</p>
            <i></i>
        </div>
        <div class="p_team">
            <span></span>

            <p>我的小组</p>
            <i></i>
        </div>
    </div>